:root {
    --gold: #a67c00;
    --gold-bg: #ffdc73;
    --card-color: #ffffffec;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla";
    background-color: var(--gold-bg);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
}

.app--title {
    color: #ffffff;
    font-size: 3.2rem;
}

.app--underline {
    height: 0.4rem;
    width: 10rem;
    background-color: var(--gold);
    margin-bottom: 2rem;

}

.app--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    display: flex;
    padding: 1.5rem 2rem;
    background-color: var(--card-color);
    border-radius: 0.9rem;
}

.card--info {
    padding-left: 1.5rem;
}

.card--bar {
    margin-bottom: 0.3rem;
}

.card--bar--title {
    font-size: 1.3rem;
}

.card--bar--price {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--gold);
}

.card--desc {
    font-size: 0.8rem;
}

.card--img {
    height: 100px;
    width: 110px;
    object-fit: cover;
    border-color: var(--gold);
    border-width: 0.28rem;
    border-style: solid;
    border-radius: 0.7rem;
}

.card--bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card--divider {
    height: 0.1rem;
    width: 100%;
    background-color: black;
    margin-bottom: 1rem;
}